.about {
  width: 50%;
  min-width: 200px;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 3px;
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.about h2 {
  text-align: center;
}

.question-answer-section {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  .about {
    width: 100%;
  }
}
