.developers {
  font-size: 100%;
  width: 50%;
  min-width: 300px;
  background-color: whitesmoke;
  padding: 20px;
  margin-bottom: 4rem;
}

.developer {
  margin-bottom: 3rem;
  display: flex;
  border-bottom: 1px solid rgba(192, 192, 192, 0.7);
  padding-bottom: 2rem;
}

.developer--img {
  border-right: 1px solid black;
  padding-right: 10px;
}

.developer--info {
  margin-left: 1rem;
}

.developer--info a {
  text-decoration: none;
  font-weight: 500;
  color: #0056f5;
}

.developer--info a:hover {
  opacity: 0.84;
}

.developer--img img {
  object-fit: cover;
  border-radius: 100%;
  width: 150px;
}

@media only screen and (max-width: 700px) {
  .developers {
    font-size: 80%;
  }
  .developer--img img {
    width: 80px;
  }
}
