@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.navbar {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #bc8cf2 !important;
  margin-bottom: 5rem;
}

.navbar-brand {
  font-size: 23px !important;
  cursor: pointer;
  margin-right: 2rem !important;
}

.nav-link {
  margin-right: 8px;
}
