.card {
  display: inline-block;
  background-color: #aa14f0;
  width: 21%;
  min-width: 330px;
  margin-left: 2rem;
  margin-bottom: 5rem;
}

.card--img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.card--body {
  color: #eeeeee;
}

@media only screen and (max-width: 390px) {
  .card {
    min-width: 280px;
  }
}
